* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

window#waybar {
    background: rgba(66, 80, 71, 0.5);
    border-radius: 6px;
    color: #d2c5a8;
}

.modules-left {
    background: linear-gradient(
        90deg,
        rgba(66, 80, 71, 1.0) 85%,
        rgba(66, 80, 71, 0)
    );
    border-radius: 6px;
    padding-right: 35px;
}

.modules-center {
    background: linear-gradient(
        90deg,
        rgba(66, 80, 71, 0),
        rgba(66, 80, 71, 1.0) 15%,
        rgba(66, 80, 71, 1.0) 85%,
        rgba(66, 80, 71, 0)
    );
    padding-left: 45px;
    padding-right: 45px
}

.modules-right {
    background: linear-gradient(
        270deg,
        rgba(66, 80, 71, 1.0) 85%,
        rgba(66, 80, 71, 0)
    );
    border-radius: 6px;
}

#tray {
    padding-left: 45px;
}

#mpris {
    padding-right: 30px;
}

#workspaces button {
    color: #d2c5a8;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border-color: rgba(0, 0, 0, 0)
}

#workspaces button.visible {
    color: #e67e80;
}

#workspaces button.active {
    color: #93b259;
}
